
<h1>wel cum</h1>
@{
    int x = 5;
    int y= x + 10;

}
<h2>@x</h2>


@if (x < y)
{
    <h3>x smaller than @y</h3>
}
else
{
    <h4>x greater than y</h4>
}















@* <div id="div1">hell</div>
<style>
    #div1{
        background-color:blue;
    }

</style>
<script>
    alert("hell");
</script>
 *@