@model Employee
@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<partial name="_EmployeeCardPartial" model="Model" />

<a asp-action="Index" asp-controller="Employee">back to list</a>
