@model Employee
@{
    ViewData["Title"] = "New";
    SelectList deptList = new SelectList(ViewBag.DeptDropDownList,"Id","Name");//cast list<dept> to select list
  
}

<h1>New</h1>
@* asp-route-id="@Model.Id"this code inert case typeof=" edit acyion or  ant action that require to id param *@"
<form asp-action="SaveNew" asp-controller="Employee" >
<div>
    <label asp-for="Name"></label>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

    <div>
        <label asp-for="Address"></label>
        <input class="form-control" asp-for="Address" />
        <span asp-validation-for="Address" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary" />
        <span asp-validation-for="Salary" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="Image"></label>
        <input class="form-control" asp-for="Image"/>
        <span asp-validation-for="Image" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="Dept_Id"></label>
        @* <input class="form-control" asp-for="Dept_Id" /> *@
        <select class="form-control" asp-for="Dept_Id" asp-items="deptList">
           

        </select>
        <span asp-validation-for="Dept_Id" class="text-danger"></span>

    </div>

<input type="submit" value="Add" class="btn btn-success" />
</form>
@section Scripts{
    @* <script src="~/lib/jquery/dist/jquery.js"></script> *@
  @*   <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
    <partial name="_ValidationScriptsPartial" />

}

